<html>
    <head>
        <title>{{pageTitle}}</title>
        <style>
            .msg{
              background: linear-gradient(
                to right,
               hsl(356, 100%, 64%),
               hsl(300, 80%, 54%)
               );
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             font-family: Impact;
             font-weight: 900;
            }
       </style>
    </head>
    <body>  
     
         {{>header}}
         <p class="msg">{{ welcomeMessage}}</p>
         <p>{{currentYear}}</p>
    </body>
</html>